{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">

    {% for article in articles %}
    <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAT | date( 'd/m/y') }}12/2019 à 11h40 </div>
            <div class="content"></div>
            <img src="{{ article.image }}" height="360" width="570">
        {{ article.content | raw }}
            <p> ABOUT PALM JUMEIRAH ONE PALM, DUBAI, DUBAI</p>
            <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary"> Lire la suite </a>
    </article>
    {% endfor %}

</section>
{% endblock %}
