{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date ('d/m/Y') }} 12/2019 à {{ article.createdAt | date ('H:i') }} </div>
    <div class="content"></div>
    <img src="{{ article.image }}" height="360" width="570">
    {{ article.content | raw }}
    <h1>Palm d'une ile</h1>
    <p>Si vous etes a la recherche d'une maison grande comme never ici vous allez trouver votre bonheur  </p>
    <hr>


    </article>
{% endblock %}